<div class="container">
<!--
    <form class="add" *ngIf="visible" class="form-inline addProduct">
        <mat-form-field class="name-width npb">
            <mat-label>Product</mat-label>
            <input #name class="addProductInput" placeholder="Add product" matInput>
        </mat-form-field>

        <mat-form-field class="price-width npb">
            <mat-label>Price</mat-label>
            <input #price class="addPriceInput" placeholder="Add Price" matInput>
        </mat-form-field>

       
        <mat-form-field class="brand-width npb">
            <mat-label>Brand</mat-label>
            <input #brand class="addBrandInput" placeholder="Add Brand" matInput>
        </mat-form-field>
        <button class="addProductBtn" type="btn" (click)="addItem(name.value, price.value, brand.value)"  mat-raised-button color="primary">Add Product</button>
    </form>
-->
    <div class="container_table">
        <mat-grid-list cols="3" rowHeight="3:1" role="list">
            <mat-grid-tile  *ngFor="let tileName of tileNames" role="listitem" role="listitem">
                <a href="http://localhost:4200/products/{{ tileName }}">{{ tileName }}</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>